<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hurricanes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./../static/css/style.css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.js"
    integrity="sha512-+tu0+vUXyZX+S51npa//IN6znNTLZsBoy8mXn9WzHxfBqYMy6gOzzfTK0VqZf9O171RY9AJviHDokCnvEq8+1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/addons/p5.sound.js"
    integrity="sha512-TU9AWtV5uUZPX8dbBAH8NQF1tSdigPRRT82vllAQ1Ke28puiqLA6ZVKxtUGlgrH6yWFnkKy+sE6luNEGH9ar0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Magic Card Price Prediction</h1>
        <p>Can you predict the value of a card from its game value?</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="part1"></div>
        <p1>In 1993 a PhD student of mathematics at the University of Pennsylvania had a dream of creating a board game. He presented his game idea to a well known game company Wizards of Coast of Dungeons and Dragons fame. 
            While they weren't in the market at the time for a full fleged board game he was able to convince them to buy a small card game he had made on the side. This game came to be known as Magic: the Gathering the world's first trading card game.
            Interestingly and likely due to his math background the card game's mechanics mimic in part the way in which code is executed.
            As an avid player of the game I am aware of the second market around the collectible nature of these cards. The price of some can actually reach into the price of a small house.
            There are a great number of repositories of information about the cards that can accessed through services provided online including their gameplay features.
            I postulated that I could utilize machine learning to predict the prices of new cards by using the comparative value of cards already in print.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>

    <div class="row">
      <div class="col-md-6 text-center">
        <div id="noncreature"></div>
        <p1>This is an example image of a magic card where I broken down the relevant interesting parts of the card from a gameplay prespective.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>

      <div class="col-md-6 text-center">
        <div id="creature"></div>
        <p1>This is an example of a creature card which has two additional numeric values to consider from a gameplay prespective seen in the lower right corner of the card.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id='plot1'></div>
        <p1>This graph shows the accuracy of various machine learning tehcniques I attempted to use to ascertain the viability of my hypothesis.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="mldata"></div>
        <p1>While these methods demonstrate success from a technical standpoint futher scrutiny of the inforation being given off is required. Firstly determining if the data is either over or underfit due to the limited amount of cards that possess value.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="mldata2"></div>
        <p1>This is a comparison of the confusion matricies for the machine learning methods I employed. As you can see in all cases there is very good fit for believing cards are worth little however the model seems to hold up poorly whenever a higher price could come about.</p1>
        </br>
        </br>
        </br>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <div id="ml3data"></div>
        <p1>Furthermore it is clear to me that due to this difficulty further examination of the cards that are expensive was worthy of my time. Thusly I examined said cards and found some interesting information from a cursory examination. Some of these cards are relatively speaking weak from a gameplay prespective.
            While I was aware of the effect of the collectible nature of the game having an influence on the prices of certain cards. I did not realize how much of an outsized impact it has. Nearly a quarter to a third of the cards that are expensive come from sets that were printed nearly 30 years ago. Meaning that their game function is
            relatively unimportant in regards to its value. However while the number of cards that are expensive are related to the numerical age of the card itself. There is little rhyme or reason seemingly in which cards from these time periods are expensive. Some are certainly quite strong others are really bad and would not be played with
            in a serious fashion.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div id="conclusions"></div>
        <p1>The conclusions I have drawn from this exercise beyond its inherent value as a data manipulation exercise was in determining not only some of the factors that contribute to the cost of cards but understanding the limitations of a machine learning model to predict something as ephemeral as human desires for specific pieces of cardboard.
        </p1>
        </br>
        </br>
        </br>
        </br>
      </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="application/javascript" src="./../static/js/functions.js"></script>
    <script type="application/javascript" src="./../static/js/data.js"></script>
    <script type="application/javascript" src="./../static/js/logic.js"></script>
    <script type="application/javascript" src="./../static/js/home.js"></script>
    <script type="text/javascript" src="./../static/js/category.json"></script>
    <script type="text/javascript" src="./../static/js/dfjson.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane_path.json"></script>
    <script type="text/javascript" src="./../static/js/hurricane.json"></script>
    <script type="application/javascript" src="./../static/js/data_cwm.js"></script>
    <script type="application/javascript" src="./../static/js/hurricane_fatalities.js"></script>
    <script type="application/javascript" src="./../static/js/damages_fatalities.js"></script>
    <script type="application/javascript" src="./../static/js/top_10_deaths_damages.js"></script> -->


</body>

</html>